@import './utils';

* {
  box-sizing: border-box;
}

main {
  margin: 50px;
}

h2 {
  border-top: 2px solid #00a3a3;
}

p {
  font-size: 20px;
  text-decoration: underline;
}

.box {
  border: 1px solid #000;
  background: #4a72ca;
  text-align: center;
  line-height: 50px;
  color: #fff;

}
.parent {
  display: grid;
}

/*grid-template-column*/
.tem-col-px {
  grid-template-columns: 20px 20px 20px 20px;
}

.tem-col-rem {
  grid-template-columns: 3rem 3rem;
}
.tem-col-porc {
  grid-template-columns: 25% 25% 25% 25%;
}
.tem-col-fr {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tem-col-rep-fr {
  grid-template-columns: repeat(4, 1fr);
}

/*grid-template-row*/
.tem-row {
  grid-template-rows: repeat(4, 1fr 2fr);
}

/*grid-template*/
.tem-row-col {
  grid-template: 1fr 1fr / repeat(4, 1fr);
}

/*grid-gap*/
.gap-row {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-row-gap: 5px;
}

.gap-col {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-column-gap: 5px;
}

.gap {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-gap: 5px;
}

/*grid-row*/
.row-start {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    grid-row-start: 3;
  }
}

.row-end {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    grid-row-end: 3;
  }
}

.row {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    grid-row: 1 / 4;
  }
}

/*grid-column*/
.column-start {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    grid-column-start: 4;
  }
}

.column-end {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    grid-column-end: 4;
  }
}

.column {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    grid-column: 1 / 4;
  }
}

/*grid-area*/
.area {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-template-areas: "cabeza cabeza cabeza cabeza"
                        "main main main main";

  .selected {
    background: $red;
    // grid-area: 1 / 2 / 3 / 4;
    grid-area: cabeza;
  }
}

/*justify-items*/
.ji-start {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  justify-items: start;

  .box {
    @include makeBox;
  }
}

.ji-end {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  justify-items: end;

  .box {
    @include makeBox;
  }  
}

.ji-center {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  justify-items: center;

  .box {
    @include makeBox;
  }
}

.ji-stretch {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  justify-items: stretch;

  .box {
    @include makeBox(unset);
  }
}

/*align-items*/
.ai-start {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  align-items: start;

  .box {
    @include makeBox;
  }
}

.ai-end {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  align-items: end;

  .box {
    @include makeBox;
  }
}

.ai-center {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  align-items: center;

  .box {
    @include makeBox;
  }
}

.ai-stretch {
  border: 1px solid #000;
  height: 200px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  align-items: stretch;

  .box {
    height: unset;
    width: 50px;
  }
}

/*justify-content*/
.jc-start {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  justify-content: start;
}

.jc-end {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  justify-content: end;
}

.jc-center {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  justify-content: center;
}    

.jc-stretch {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  justify-content: stretch;
}    

.jc-around {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  justify-content: space-around;
}

.jc-between {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  justify-content: space-between;
}    

.jc-evenly {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  justify-content: space-evenly;
}    

/*align-content*/
.ac-start {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(4, 50px) / repeat(2, 50px);
  align-content: start;
}

.ac-end {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(4, 50px) / repeat(2, 50px);
  align-content: end;
}

.ac-center {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(4, 50px) / repeat(2, 50px);
  align-content: center;
}    

.ac-stretch {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(4, 50px) / repeat(2, 50px);
  align-content: stretch;
}    

.ac-around {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(4, 50px) / repeat(2, 50px);
  align-content: space-around;
}

.ac-between {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(4, 50px) / repeat(2, 50px);
  align-content: space-between;
}    

.ac-evenly {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(4, 50px) / repeat(2, 50px);
  align-content: space-evenly;
}    

/*place-content*/
.pc-1 {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  place-content: start end;
}

.pc-2 {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  grid-template: repeat(2, 50px) / repeat(4, 50px);
  place-content: center;
}

/*justify-self*/
.js-start {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    justify-self: start;
  }
}


.js-end {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    justify-self: end;
  }
}

.js-center {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    justify-self: center;
  }
}

.js-stretch {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    justify-self: stretch;
  }
}

/*align-self*/
.as-start {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    height: 25px;
    line-height: 25px;
    align-self: start;
  }
}

.as-end {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    height: 25px;
    line-height: 25px;
    align-self: end;
  }
}

.as-center {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    height: 25px;
    line-height: 25px;
    align-self: center;
  }
}

.as-stretch {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    height: unset;
    align-self: stretch;
  }
}

/*place-self*/
.ps-1 {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    height: 25px;
    line-height: 25px;
    place-self: start end;
  }
}

.ps-2 {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  .selected {
    background: $red;
    height: 25px;
    line-height: 25px;
    place-self: center;
  }
}

/*span*/
.span {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);

  div:nth-child(3n) {
    grid-column-end: span 2; 
  }
}

/*minmax*/
.minmax {
  grid-template: repeat(2, 1fr) / repeat(4, minmax(200px, 1fr));
}