$blue: #4a72ca;
$green: #00a3a3;
$border: 1px solid #000;

*{
  box-sizing: border-box;
}

main{
  margin: 50px;
}

h2 {
  border-top: 2px solid $green;
}

p {
  font-size: 20px;
  text-decoration: underline;
}

.box{
  background: $blue;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 5px;
  text-align: center;
  width: 50px;
}

/*flex-direction*/
.flex {
  display: flex;
}

/*flex-direction*/
.row {
  display: flex;
  flex-direction: row;
}

.row_reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.column_reverse {
  display: flex;
  flex-direction: column-reverse;
}

/*flex-wrap*/
.wrap {
  border: $border;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nowrap {
  border: $border;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.wrap_reverse {
  border: $border;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

/*flex-flow*/
.wrap_row{
  border: $border;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
}

/*justify-content*/
.jc {
  width: 500px;
  border: $border;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
}

.jc-col {
  width: 500px;
  height: 400px;
  border: $border;
  display: flex;
  flex-flow: column wrap;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

/*align-items*/
.ai {
  width: 500px;
  height: 300px;
  border: $border;
  display: flex;
  flex-flow: row wrap;
}
.ai-col {
  width: 500px;
  height: 300px;
  border: $border;
  display: flex;
  flex-flow: column wrap;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

/*lineas de stretch*/
.box-bas-1 {
  color: #000;
  line-height: 120px;
}

.box-bas-2 {
  font-size: 38px;
}

.box-bas-3 {
  font-size: 2px;
}

.box-bas-4 {
  color: #000;
  line-height: 90px;
  font-size: 56px;
}

.ai-baseline {
  align-items: baseline;
}

.ai-stretch {
  align-items: stretch;
  div{
    height: unset;
  }
}

.ai-col-stretch div{
  width: unset;
}

/*align-content*/
.ac {
  border: $border;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
}

.ac-col {
  border: $border;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
}

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-center {
  align-content: center;
}

.ac-around {
  align-content: space-around;
}

.ac-between {
  align-content: space-between;
}

.ac-stretch {
  align-content: stretch;

  div{
    height: unset;
  }
}

.ac-stretch-col div{
  width: unset;
}