*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  position: relative;
} */

h2, h3 {
  margin: 20px 0;
}

.box {
  background-color: #7ae3e7;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  text-align: center;
}


/*display*/
.block-boxes .box {
  display: block;
  height: 50px;
  width: 50px;
}


.inlines-boxes .box {
  padding: 3px;
  display: inline;
  height: 50px;
  width: 50px;
}


.inline-block-boxes .box{
  height: 50px;
  width: 50px;
}

.hide {
  display: none;
}

.box-father {
  background: #257db8;
	width: 700px;
	overflow: hidden;
}

.float-box {
	background: #115b5e;
	color: #fff;
	font-size: 38px;
	height: 200px;
	margin: 20px;
  text-align: center;
  width: 200px;
}

.first-box {
  float: left;
}

.second-box {
  float:left;
}

.box-container {
  position: relative;
  height: 3000px;
  margin-top: 80px;
  border: 1px solid black;
}

.fixed {
  position: fixed;
  bottom: 20px;
  left: 300px;
}

.relative {
  position: relative;
  top: 0;
  left: 150px;
}

.absolute {
  position: absolute;
  top: 10px;
  left: 196px;
}

.sticky {
  background: red;
  width: 100%;
  position: sticky;
  top: 50px;
  left: 0;
}